In [ ]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
current_directory = os.getcwd()
print(current_directory) 
pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", 999)
pd.options.display.max_seq_items = 2000

In [ ]:
# Reading in all app data and parsing date columns as datetime
date_cols = ['student_complete_date','application_date', 'app_complete_date','admit_date','enrollment_deposit_dt','namu_award_date']
s1 = pd.read_csv("App-UGRD_Master-Data_INTL_Fall2021_Anonymized.csv", encoding='latin-1', parse_dates=date_cols)
s2 = pd.read_csv("App-UGRD_Master-Data_INTL_Fall2022_Anonymized.csv", encoding='latin-1', parse_dates=date_cols)
s3 = pd.read_csv("App-UGRD_Master-Data_INTL_Fall2023_Anonymized.csv", encoding='latin-1', parse_dates=date_cols)
s4 = pd.read_csv("App-UGRD_Master-Data_INTL_Fall2024_Anonymized.csv", encoding='latin-1', parse_dates=date_cols)

In [3]:
s1['application_date'].max()

Timestamp('2021-09-01 00:00:00')

In [4]:
# Filtering each year's app data to exclude apps started later than point-in-cycle (June 6)
s1 = s1[(s1['application_date']<pd.Timestamp(2021,6,7))]
s1['application_date'].max()

Timestamp('2021-06-06 00:00:00')

In [5]:
s2['application_date'].max()

Timestamp('2022-09-07 00:00:00')

In [6]:
s2 = s2[(s2['application_date']<pd.Timestamp(2022,6,7))]
s2['application_date'].max()

Timestamp('2022-06-06 00:00:00')

In [7]:
s3['application_date'].max()

Timestamp('2023-09-06 00:00:00')

In [8]:
s3 = s3[(s3['application_date']<pd.Timestamp(2023,6,7))]
s3['application_date'].max()

Timestamp('2023-06-06 00:00:00')

In [9]:
s4['application_date'].max()

Timestamp('2024-06-06 00:00:00')

In [10]:
# Concatenating all app data 2021-4
frames = [s1, s2, s3, s4]
apps = pd.concat(frames)
apps.drop_duplicates(inplace=True)
apps.to_csv("AppsALL.csv", index=False)
apps[apps.duplicated(subset="app_id")]

,Term_Group,app_id,inquiry_id,inquiry_opp_id,acad_career,admit_type,asu_undergrad_status_code,student_type,application_status,app_count,app_activity_count,app_complete_count,student_complete_date,conditional_admit_count,deny_count,admit_count,deposit_count,enrollment_deposit_status,enrl_count,housing_confirmed_count,application_date,app_complete_date,admit_date,enrollment_deposit_dt,residency_status,market,citzn_country,campus,college,major,degree_type,age,gender,first_gen_flg,ethnicity,home_city,home_country,honors_app_date,honors_applied,honors_admit,honors_enrolled,honors_denied,hs_name,hs_code,hs_city,hs_country,postsec_inst_name,postsec_city,postsec_country,hs_gpa,abor_gpa,self_gpa,cbov_gpa,trn_gpa,trn_gpa_band,ugrd_intl_gpa,ci_band_domestic,ci_score_intl,namu_scholarship,namu_amount,namu_award_date,kaplan_flag,kaplan_university_scholarship,kaplan_international_award,visa_descr,visa_permit,intl_sponsored_flg,intl_financial_guarantee_flg,intl_remote,ielts_score,toefl_comp,det_score,move_to_online,common_app,defer_flag,namu_transfer_amount,namu_transfer_offer_dt,namu_transfer_scholarship
169,Fall 2021,gsvYXqkJjXwjXCTJn23lyw==,PLcUsh9d50+wL7kIxb26FpTsMhK3Xi2k,T8mRgQ9Ht2ElJDLRoIZyc4D6nMZJVTPr,UGRD,FTF,FTF,FTF,App Withdrawn,1,1,1,2021-02-09,0,NaN,0,0,NaN,0,NaN,2021-02-09,2021-02-09 14:43:00,NaT,NaT,NORES,International,Saudi Arabia,POLY,W.P. Carey School of Business,Business,Bachelor,22.0,M,N,Non Resident Alien,NAJRAN,SAU,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No GPA,3.80,No Index,NaN,-,0.0,NaT,Kaplan,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,NaN
2572,Fall 2021,c1gnaBdHrluExYBfXFgRww==,PLcUsh9d50/NxiDsZDkhgwYhMQrtjV0D,T8mRgQ9Ht2FGEnsJKNXR+ZBkPo4zxUzz,UGRD,FTF,FTF,FTF,Enrolled,0,1,1,NaT,0,NaN,1,1,PAID,1,1.0,2020-10-28,2020-11-05 11:41:00,2020-11-06,2021-04-28,NORES,International,Saudi Arabia,POLY,W.P. Carey School of Business,Business,Bachelor,21.0,M,N,Non Resident Alien,MESA,USA,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No GPA,3.10,No Index,NaN,-,0.0,NaT,NaN,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,66.0,120.0,NaN,NaN,1.0,NaN,NaN,NaN
5327,Fall 2021,5CYeI1m5YAPy81AI3qv4KA==,PLcUsh9d509+b8vUD5dXAcXceNfxvcUV,T8mRgQ9Ht2Hji/q6kdv7wNSQegT1O7DX,UGRD,FTF,FTF,FTF,Admitted - Active,0,1,1,2021-01-13,0,NaN,1,0,NaN,1,NaN,2020-12-02,2020-12-05 17:41:00,2020-12-07,NaT,NORES,International,Saudi Arabia,DTPHX,Watts Col of Pub Ser & Com Sol,Sociology,Bachelor,21.0,M,N,Non Resident Alien,RIYADH,SAU,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,Al-Imam Mohamed Ibn Saud Islam,RIYADH,SAU,NaN,0.0,NaN,NaN,NaN,No GPA,3.30,No Index,NaN,-,0.0,NaT,Kaplan,2500.0,NaN,Academic Student,F1,Y,Y,NaN,NaN,NaN,105.0,NaN,NaN,1.0,NaN,NaN,NaN
5975,Fall 2021,Mab5w36eC0c0PEzul/cgJA==,PLcUsh9d5081mUBXu1YziZts782wR+yO,T8mRgQ9Ht2Htoy4yLQAaDix5O6Ev/g6u,UGRD,FTF,FTF,FTF,Admitted - Conditional,1,1,1,NaT,0,NaN,0,0,NaN,0,NaN,2020-02-08,2020-02-12 10:39:00,2020-02-12,NaT,NORES,International,Kuwait,TEMPE,Ira A Fulton Engineering,Engineering,Bachelor,20.0,M,N,Non Resident Alien,KUWAIT,KWT,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,University of Arizona,TUCSON,USA,NaN,0.0,NaN,3.75,3.75,3.75-4.0,3.77,No Index,NaN,-,0.0,NaT,NaN,NaN,NaN,Academic Student,F1,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7603,Fall 2021,bf9wr+/gcnvljmwQ8PqPyA==,PLcUsh9d50+F1YCFgfTqXYSGXyIFZIYC,T8mRgQ9Ht2ENedhWJW9qPEYtj0hAluPe,UGRD,FTF,FTF,FTF,Admitted - Conditional,1,1,1,2021-05-03,1,NaN,0,0,NaN,0,NaN,2021-03-01,2021-05-03 17:25:00,2021-05-04,NaT,NORES,International,Rwanda,TEMPE,The College of Lib Arts & Sci,Math,Bachelor,22.0,M,N,Non Resident Alien,BUJUMBURA,BDI,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No GPA,3.44,No Index,NaN,-,0.0,NaT,NaN,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17108,Fall 2024,YTTiocwzPQ5gj6SFNuu6fQ==,E4KFug6AthR3ObCl0QtGCJinxn7ypbyh,SwY+qOD3//drEd/qvC3VZxqF9axdKCGx,UGRD,TRN,TRN,TRN,Admitted - Conditional,1,1,1,2024-05-10,1,NaN,0,0,NaN,0,NaN,2024-04-26,2024-05-10 03:05:00,2024-05-14,NaT,NORES,International,China,TEMPE,W. P. Carey School of Business,Business,Bachelor,20.0,M,Y,International,TEMPE,USA,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,Citrus College (N),GLENDORA,USA,NaN,0.0,NaN,4.00,4.00,3.75-4.0,4.00,no index,NaN,-,0.0,1900-01-01,NaN,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
17114,Fall 2024,22W6Wdt7JFYEjK8LSIWHoA==,E4KFug6AthRMyTEWB0qVJSuQQxsENUsM,SwY+qOD3//d7opB5rfNaTT8MOCU4Y+2c,UGRD,TRN,TRN,TRN,Admitted - Conditional,1,1,1,NaT,0,NaN,0,0,NaN,0,NaN,2023-03-29,2023-04-18 18:47:00,2023-04-24,NaT,NORES,International,India,TEMPE,University College,Sociology,Exploratory,21.0,M,N,International,HYDERABAD,IND,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,University of Illinois Chicago,CHICAGO,USA,NaN,0.0,NaN,2.88,2.88,2.75-2.99,2.50,no index,NaN,-,0.0,1900-01-01,NaN,NaN,NaN,Academic Student,F1,N,Y,NaN,7.5,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
17123,Fall 2024,yb6BzmgYkTE9cN9hd2Unpw==,E4KFug6AthT6qUoW/v6YaZmSxMZPEZY1,SwY+qOD3//elyw4IvEu+5p9yrUS6woCZ,UGRD,TRN,TRN,TRN,Admitted - Active,1,1,1,2024-05-10,0,NaN,1,0,UNPD,0,NaN,2024-05-01,2024-05-10 18:08:00,2024-05-15,NaT,NORES,International,Saudi Arabia,TEMPE,University College,Sociology,Exploratory,20.0,M,N,International,AL-KHARJ,SAU,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,Prince Sattam bin Abdulaziz University,AL-KHARJ,SAU,NaN,0.0,NaN,2.46,0.00,No GPA,4.00,no index,103.0,-,0.0,1900-01-01,kaplan,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,NaN,110.0,0.0,NaN,NaN,NaN,NaN,NaN
17198,Fall 2024,/r/dMBpxuAVvzqvw096JKQ==,E4KFug6AthTDZzkV9DSvPgzNT5ifWNec,SwY+qOD3//fT+TSTWlLFruEw8Te6o30a,UGRD,FTF,FTF,FTF,Admitted - Conditional,1,1,1,NaT,0,NaN,0,0,NaN,0,NaN,2023-09-12,2023-09-29 09:33:00,2023-10-11,NaT,NORES,International,Saudi Arabia,POLY,Ira A Fulton Engineering,Technology,Bachelor,25.0,M,N,International,YANBU,SAU,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,Non Regionally Accredited Domestic Institution,-,-,NaN,0.0,NaN,0.00,0.00,No GPA,3.27,no index,NaN,-,0.0,1900-01-01,NaN,NaN,NaN,Academic Student,F1,N,Y,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
17271,Fall 2024,4EXMeWBIm5ESCi9dgY7QwQ==,E4KFug6AthRQIELov5OmFmljwF0/Ncy1,SwY+qOD3//d3XC9kRPgmYfltvxxoPsLb,UGRD,TRN,TRN,TRN,Admitted - Active,1,1,1,2024-01-09,0,NaN,1,0,NaN,0,NaN,2023-10-09,2023-12-09 08:52:00,2024-01-10,NaT,NORES,International,Kuwait,TEMPE,The College of Lib Arts & Sci,Science,Bachelor,27.0,F,Y,International,KUWAIT CITY,KWT,NaN,NaN,NaN,NaN,NaN,Foreign High School,1.000000e+11,-,-,Grossmont-Cuyamaca Community College District,EL CAJON,USA,NaN,0.0,NaN,2.62,3.44,3.25-3.49,NaN,no index,NaN,-,0.0,1900-01-01,kaplan,NaN,NaN,Academic Student,F1,N,Y,NaN,6.0,NaN,NaN,0.0,NaN,1.0,NaN,NaN,NaN

In [11]:
apps.shape

(50940, 78)

In [12]:
sum(apps.pivot_table(index = ['app_id'], aggfunc ='size') == 2)

1511

In [13]:
sum(apps.pivot_table(index = ['app_id'], aggfunc ='size') == 3)

31

In [14]:
# Dropping all but the most recent app for each unique app_id
apps.sort_values(by='application_date', ascending=True, inplace=True)
apps.drop_duplicates(subset=['app_id'], keep='last', inplace= True)

In [15]:
apps.shape

(49367, 78)

In [16]:
apps.to_csv("AppsALL.csv", index=False)

In [ ]:
date_cols = ['contact_createddate', 'lead_createddate_FLS','othersource_created_dt', 'case_created_dt','event_start_date','application_date','first_date']
sources = pd.read_csv("TempAll.csv", encoding='latin-1', parse_dates=date_cols)
sources.sort_values(by='application_date', ascending=True, inplace=True)
sources.drop_duplicates(subset=['app_id'], keep='last', inplace= True)

In [18]:
sources.shape

(51853, 44)

In [19]:
sources[sources.duplicated(subset="app_id")]

Empty DataFrame
Columns: [Term_Group, unique_id, lead_id, inquiry_id, inquiry_opp_id, app_id, lead_createddate, contact_createddate, lead_city, lead_country, lead_intlstudent, lead_ethnicity, lead_gender, contact_city, inquiry_home_country, inquiry_mailing_country, inquiry_ethnicity, inquiry_gender, inquiry_langspokenathome, inquiry_opp_type, lead_createddate_FLS, source_type_FLS, source_FLS, source_group_FLS, source_stage_FLS, othersource_created_dt, source_type_FOS, source_FOS, source_group_FOS, source_stage_FOS, case_created_dt, source_type_FCS, source_FCS, source_group_FCS, event_start_date, source_type_FES, source_FES, source_group_FES, application_date, first_date, first_source_type, first_source, first_source_group, cold_lead]
Index: []

In [20]:
# Merging first source data with app data
temps = pd.merge(apps, sources[['app_id','contact_createddate','first_date', 'first_source_type', 'first_source','first_source_group', 'cold_lead']], on='app_id', how='left')

In [21]:
temps.shape

(49367, 84)

In [22]:
temps['first_source_type'].value_counts(dropna=False)

first_source_type
Stealth App      37864
NaN               6968
LEAD SOURCES      1609
CASES             1332
OTHER SOURCES     1023
EVENT SOURCES      571
Name: count, dtype: int64

In [23]:
# Adding first date and source=stealth where it was missing from sources/lead data
mask = temps['first_date'].isnull()
temps['first_date'] =  np.where(mask, temps['application_date'], temps['first_date'])
temps['first_source_type'] =  np.where(mask, "Stealth App", temps['first_source_type'])
temps['first_source'] =  np.where(mask, "Stealth App", temps['first_source'])
temps['cold_lead'] =  np.where(mask, 0, temps['cold_lead'])

In [24]:
temps['first_source_type'].value_counts(dropna=False)

first_source_type
Stealth App      44832
LEAD SOURCES      1609
CASES             1332
OTHER SOURCES     1023
EVENT SOURCES      571
Name: count, dtype: int64

In [25]:
temps.to_csv("AppsTEMP.csv", index=False)

In [26]:
temps.columns

Index(['Term_Group', 'app_id', 'inquiry_id', 'inquiry_opp_id', 'acad_career',
       'admit_type', 'asu_undergrad_status_code', 'student_type',
       'application_status', 'app_count', 'app_activity_count',
       'app_complete_count', 'student_complete_date',
       'conditional_admit_count', 'deny_count', 'admit_count', 'deposit_count',
       'enrollment_deposit_status', 'enrl_count', 'housing_confirmed_count',
       'application_date', 'app_complete_date', 'admit_date',
       'enrollment_deposit_dt', 'residency_status', 'market', 'citzn_country',
       'campus', 'college', 'major', 'degree_type', 'age', 'gender',
       'first_gen_flg', 'ethnicity', 'home_city', 'home_country',
       'honors_app_date', 'honors_applied', 'honors_admit', 'honors_enrolled',
       'honors_denied', 'hs_name', 'hs_code', 'hs_city', 'hs_country',
       'postsec_inst_name', 'postsec_city', 'postsec_country', 'hs_gpa',
       'abor_gpa', 'self_gpa', 'cbov_gpa', 'trn_gpa', 'trn_gpa_band',
       'ugrd_intl_gpa', 'ci_band_domestic', 'ci_score_intl',
       'namu_scholarship', 'namu_amount', 'namu_award_date', 'kaplan_flag',
       'kaplan_university_scholarship', 'kaplan_international_award',
       'visa_descr', 'visa_permit', 'intl_sponsored_flg',
       'intl_financial_guarantee_flg', 'intl_remote', 'ielts_score',
       'toefl_comp', 'det_score', 'move_to_online', 'common_app', 'defer_flag',
       'namu_transfer_amount', 'namu_transfer_offer_dt',
       'namu_transfer_scholarship', 'contact_createddate', 'first_date',
       'first_source_type', 'first_source', 'first_source_group', 'cold_lead'],
      dtype='object')

In [27]:
# Cleaning file by renaming and removing clumns to prepare for R
temps.rename(columns={'first_date': 'first_source_date','app_complete_count': 'app_complete','admit_count':'admitted', 'enrl_count':'enrolled'}, inplace=True)
temps.drop(temps.iloc[:, 2:7], inplace=True, axis=1)
temps.drop(['app_count', 'app_activity_count', 'student_complete_date','conditional_admit_count','deny_count','enrollment_deposit_status'],inplace=True, axis=1)
temps.drop(['housing_confirmed_count','residency_status','market','ethnicity','hs_name','hs_code','hs_city','postsec_city','postsec_country','ci_band_domestic'],inplace=True, axis=1)
temps.drop(['namu_transfer_amount',	'namu_transfer_offer_dt','namu_transfer_scholarship','move_to_online','visa_permit','visa_descr'],inplace=True, axis=1)
temps.drop(['honors_app_date','honors_denied','honors_enrolled','ci_score_intl','namu_scholarship','intl_remote','enrollment_deposit_dt'],inplace=True, axis=1)

In [28]:
mask = temps['ugrd_intl_gpa'].isnull()

temps['GPA'] = (temps[['hs_gpa', 'trn_gpa', 'abor_gpa', 'self_gpa', 'cbov_gpa']]
             .apply(pd.to_numeric)
             .max(axis=1))   # <-- difference here

In [29]:
# temps.to_csv("AppsR.csv", index=False)

In [30]:
temps['ugrd_intl_gpa'] =  np.where(mask, temps['GPA'], temps['ugrd_intl_gpa'])
# temps.to_csv("AppsR.csv", index=False)

In [31]:
temps.drop(['hs_gpa','abor_gpa','self_gpa','cbov_gpa','trn_gpa','trn_gpa_band','GPA'],inplace=True, axis=1)
temps = temps[temps['application_status'] != "Application Received - Incomplete"]
# temps.to_csv("AppsR.csv", index=False)

In [32]:
temps.drop(['namu_award_date','honors_admit', 'kaplan_university_scholarship','kaplan_international_award','contact_createddate'],inplace=True, axis=1)
temps.rename(columns={'hs_country':'us_hs_flag', 'postsec_inst_name': 'postsec_flag'},inplace=True)

# Creating new binary and categorical predictors
temps['us_hs_flag'] =  np.where(temps['us_hs_flag'] == "USA", 1, 0)
temps['honors_applied'] =  np.where(temps['honors_applied'].isnull(), 0, temps['honors_applied'])
temps['postsec_flag'] =  np.where(temps['postsec_flag'].notnull(), 1, 0)
temps['kaplan_flag'] =  np.where(temps['kaplan_flag'].notnull(), 1, 0)
temps['defer_flag'] = np.where(temps['defer_flag'].notnull(), 1, 0)
temps['common_app'] =  np.where(temps['common_app'].isnull(), 0, temps['common_app'])
temps['namu_amount'] =  np.where(temps['namu_amount'].notnull(), temps['namu_amount'], 0)
temps['first_source_month'] = temps['first_source_date'].dt.month
temps['app_month'] = temps['application_date'].dt.month
temps['app_comp_month'] = temps['app_complete_date'].dt.month
temps['admit_month'] = temps['admit_date'].dt.month
# Imputing some missing values (12 total rows)
temps['app_comp_month'] = np.where(temps['app_comp_month'].notnull(), temps['app_comp_month'], 0)
# Imputing some missing values (3050 total rows)
temps['admit_month']  = np.where(temps['admit_month'].notnull(), temps['admit_month'], 0)
# Fixing College nomenclature for WPC
temps['college'] = np.where(temps['college'] == "W. P. Carey School of Business", "W.P. Carey School of Business", temps['college'])

In [33]:
# Choosing 9/7 to avoid creating negative values for same apps completed very late in cycle
temps['app_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2021", (pd.Timestamp(2021,9,8) - temps['application_date']).dt.days, 0)
temps['app_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2022", (pd.Timestamp(2022,9,8) - temps['application_date']).dt.days, temps['app_date_diff'])
temps['app_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2023", (pd.Timestamp(2023,9,8) - temps['application_date']).dt.days, temps['app_date_diff'])
temps['app_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2024", (pd.Timestamp(2024,9,8) - temps['application_date']).dt.days, temps['app_date_diff'])

temps['appcomp_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2021", (pd.Timestamp(2021,9,8) - temps['app_complete_date']).dt.days, 0)
temps['appcomp_date_diff']=  np.where(temps['Term_Group'] == "Fall 2022", (pd.Timestamp(2022,9,8) - temps['app_complete_date']).dt.days, temps['appcomp_date_diff'])
temps['appcomp_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2023", (pd.Timestamp(2023,9,8) - temps['app_complete_date']).dt.days, temps['appcomp_date_diff'])
temps['appcomp_date_diff'] =  np.where(temps['Term_Group'] == "Fall 2024", (pd.Timestamp(2024,9,8) - temps['app_complete_date']).dt.days, temps['appcomp_date_diff'])

# temps['application_date'] = (df['date2'] - df['date1']).dt.days

In [34]:
# len(temps[temps['ielts_score'].isnull() & temps['toefl_comp'].isnull() & temps['det_score'].isnull()])

In [35]:
# Dropping transformed date columns and EPR score columns which are rather sparse to use for prediction -- 14,611 than have no EPR score at all
temps.drop(['application_status','ielts_score','toefl_comp','det_score', 'admit_date', 'app_complete_date', 'application_date', 'first_source_date','first_source_group'],inplace=True, axis=1)
# temps.to_csv("AppsR.csv", index=False)

In [36]:
# looking at NA values and imputing data
temps.isna().sum()

Term_Group                        0
app_id                            0
student_type                      0
app_complete                      0
admitted                          0
deposit_count                     0
enrolled                          0
citzn_country                     0
campus                            0
college                           0
major                             0
degree_type                       0
age                               1
gender                            0
first_gen_flg                     0
home_city                         0
home_country                      0
honors_applied                    0
us_hs_flag                        0
postsec_flag                      0
ugrd_intl_gpa                   250
namu_amount                       0
kaplan_flag                       0
intl_sponsored_flg                0
intl_financial_guarantee_flg      0
common_app                        0
defer_flag                        0
first_source_type                 0
first_source                      0
cold_lead                         0
first_source_month                0
app_month                         0
app_comp_month                    0
admit_month                       0
app_date_diff                     0
appcomp_date_diff                12
dtype: int64

In [37]:
# Using the average difference between when the app was submitted and when it was completed to fill in 12 missing values for appcomp_date_diff
m = round((temps.app_date_diff- temps.appcomp_date_diff).mean())
temps['appcomp_date_diff']  = np.where(temps['appcomp_date_diff'].isnull(), m, temps['appcomp_date_diff'])

# Adding two more feautres
temps['app_appcomp_diff'] = temps['app_date_diff'] - temps['appcomp_date_diff']

In [38]:
temps.isna().sum()

Term_Group                        0
app_id                            0
student_type                      0
app_complete                      0
admitted                          0
deposit_count                     0
enrolled                          0
citzn_country                     0
campus                            0
college                           0
major                             0
degree_type                       0
age                               1
gender                            0
first_gen_flg                     0
home_city                         0
home_country                      0
honors_applied                    0
us_hs_flag                        0
postsec_flag                      0
ugrd_intl_gpa                   250
namu_amount                       0
kaplan_flag                       0
intl_sponsored_flg                0
intl_financial_guarantee_flg      0
common_app                        0
defer_flag                        0
first_source_type                 0
first_source                      0
cold_lead                         0
first_source_month                0
app_month                         0
app_comp_month                    0
admit_month                       0
app_date_diff                     0
appcomp_date_diff                 0
app_appcomp_diff                  0
dtype: int64

In [39]:
m = round(temps.age.mean())
temps['age']  = np.where(temps['age'] == 0, m, temps['age'])
temps['age']  = np.where(temps['age'].isnull(), m, temps['age'])

In [40]:
m = round(temps.ugrd_intl_gpa.mean(), 2)
temps['ugrd_intl_gpa']  = np.where(temps['ugrd_intl_gpa'].isnull(), m, temps['ugrd_intl_gpa'])
temps['home_city']  = temps['home_city'].str.replace(r"'", '', regex=False)
temps['citzn_country']  = temps['citzn_country'].str.replace(r"'", '', regex=False)
temps['home_country']  = np.where(temps['home_country'] == '-', "Unknown", temps['home_country'])
temps['citzn_country']  = np.where(temps['citzn_country'] == '-', "Unknown", temps['citzn_country'])
temps['home_city']  = np.where(temps['home_city'] == '-', "Unknown", temps['home_city'])
temps['home_city'] = np.where(temps['app_id'] == 'ANXKsaOaYyMree094huvrg==', "CAIRO", temps['home_city'])
temps['intl_financial_guarantee_flg'] = np.where(temps['intl_financial_guarantee_flg'] == 'Y', 1, 0)
temps['intl_sponsored_flg'] = np.where(temps['intl_sponsored_flg'] == 'Y', 1, 0)
temps['first_gen_flg'] = np.where(temps['first_gen_flg'] == 'Y', 1, 0)
temps['college'] =  np.where(temps['college'] == 'College of Design', "Herberger Institute", temps['college'])
temps['major'] =  np.where(temps['major'] == 'Performing Arts', "Art/Design", temps['major'])

temps['age'] = np.where(temps['age'] > 18, 1, 0)
mask = temps['major'].isin(['Liberal Studies', 'Media','Crime/Law', 'Education','History','English','Language','Non-Degree Seeking', 'Communication'])
temps['major'] =  np.where(mask, "Other", temps['major'])

temps['campus'] =  np.where(temps['campus'] == 'LOSAN', "OTHER", temps['campus'])

temps = temps[temps['gender'].isin(['M','F'])]

temps = temps[temps['campus'].isin(['TEMPE','POLY','WEST','DTPHX','CALHC'])]

temps = temps[temps['student_type'].isin(['FTF','TRN'])]

In [41]:
temps.isna().sum()

Term_Group                      0
app_id                          0
student_type                    0
app_complete                    0
admitted                        0
deposit_count                   0
enrolled                        0
citzn_country                   0
campus                          0
college                         0
major                           0
degree_type                     0
age                             0
gender                          0
first_gen_flg                   0
home_city                       0
home_country                    0
honors_applied                  0
us_hs_flag                      0
postsec_flag                    0
ugrd_intl_gpa                   0
namu_amount                     0
kaplan_flag                     0
intl_sponsored_flg              0
intl_financial_guarantee_flg    0
common_app                      0
defer_flag                      0
first_source_type               0
first_source                    0
cold_lead                       0
first_source_month              0
app_month                       0
app_comp_month                  0
admit_month                     0
app_date_diff                   0
appcomp_date_diff               0
app_appcomp_diff                0
dtype: int64

In [42]:
temps.major.value_counts()

major
Technology     10515
Business        9611
Engineering     4833
Science         2896
Math            1931
Health          1324
Other           1291
Art/Design      1253
Sociology        937
Psychology       832
Name: count, dtype: int64

In [43]:
# Country and City are variables are categorical with too high cardinality!  
# To keep the dimensionality of the dataset down in one-hot-encoding later, I opt to frequency encode them
temps.rename(columns={'age':'above_18'},inplace=True)

citzn_freq = temps['citzn_country'].value_counts(normalize=True)
temps['citzn_country_freq'] = temps['citzn_country'].map(citzn_freq)

home_city_freq = temps['home_city'].value_counts(normalize=True)
temps['home_city_freq'] = temps['home_city'].map(home_city_freq)

home_country_freq = temps['home_country'].value_counts(normalize=True)
temps['home_country_freq'] = temps['home_country'].map(home_country_freq)

temps.drop(['citzn_country','home_city','home_country'],inplace=True, axis=1)
temps.to_csv("AppsR.csv", index=False)