In [ ]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

os.chdir("G:\OMSA\Practicum\\")
current_directory = os.getcwd()
print(current_directory) 

pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", 999)
pd.options.display.max_seq_items = 2000

In [ ]:
# Concatenating all four years of data 
s1 = pd.read_csv(r"G:\OMSA\Practicum\2021\SOURCES2021NEW.csv", encoding='latin-1')
s2 = pd.read_csv(r"G:\OMSA\Practicum\2022\SOURCES2022NEW.csv", encoding='latin-1')
s3 = pd.read_csv(r"G:\OMSA\Practicum\2023\SOURCES2023NEW.csv", encoding='latin-1')
s4 = pd.read_csv(r"G:\OMSA\Practicum\2024\SOURCES2024NEW.csv", encoding='latin-1')

frames = [s1, s2, s3, s4]
sources = pd.concat(frames)
sources.sample(15)
sources.to_csv("SourcesALL.csv", index=False)

In [5]:
len(s1)+len(s2)+len(s3)+len(s4) == len(sources)

True

In [7]:
### Doing some data cleaning
# Adding a Inquiry Opp Type for students with a first source, as these can be assumed to be FTFs
mask = (sources['first_date'].notnull() & sources['inquiry_opp_type'].isnull())
sources['inquiry_opp_type'] =  np.where(mask, "First Time Freshman", sources['inquiry_opp_type'])
#sources.to_csv("TempALL.csv", index=False)

In [9]:
# Standardizing a few rows with incorrect naming for FTF
mask = ((sources['inquiry_opp_type'] == 'First-year undergraduate') | (sources['inquiry_opp_type'] == 'Undergraduate'))
sources['inquiry_opp_type'] =  np.where(mask, "First Time Freshman", sources['inquiry_opp_type'])

In [11]:
sources['inquiry_opp_type'].value_counts()

inquiry_opp_type
First Time Freshman                        208077
Masters                                    117781
Doctoral                                    17301
Transfer                                    16936
Juris Doctor                                  927
Certificate                                   613
Non-Degree                                    563
Readmission                                   132
Graduate (Masters, PhD, EdD, DNP, etc.)        66
Other                                          51
Doctorate                                       7
Master                                          5
Transferring undergraduate                      3
Name: count, dtype: int64

In [13]:
# Dropping all but FTF and TRN rows
sources = sources[sources['inquiry_opp_type'].isin(["First Time Freshman", 'Transfer'])]
sources['inquiry_opp_type'].value_counts()

inquiry_opp_type
First Time Freshman    208077
Transfer                16936
Name: count, dtype: int64

In [15]:
# Counting duplicate rows or IDs
#sources[sources.duplicated('unique_id')].sample(15)
sum(sources.pivot_table(index = ['unique_id'], aggfunc ='size') == 2)

501

In [17]:
# Deduping based on unique_id column and dropping all but the first row from the sources df
sources.sort_values(by='first_date', ascending=True).drop_duplicates(subset=['unique_id'], keep='first', inplace= True)

In [19]:
# Dropping all rows without first source data
sources = sources[sources['first_date'].notnull()]

In [21]:
# Transmuting First Source Stage to binary column that signifies a cold lead (1 = cold, 0 - not cold)
mask = sources['first_source_type'] == 'LEAD SOURCES'
sources['first_source_stage'] =  np.where(mask, 1, 0)
sources.rename(columns={'first_source_stage': 'cold_lead'}, inplace=True)

In [23]:
# Adding Country Info for Vizualization
sources['lead_country'] =  np.where(sources['lead_country'].isnull(), sources['inquiry_mailing_country'], sources['lead_country'])
sources['lead_country'] =  np.where(sources['lead_country'].isnull(), "Unknown", sources['lead_country'])

In [25]:
sum(sources['lead_country'] != "Unknown")

178960

In [37]:
sum(sources['lead_city'].isnull())

127106

In [39]:
# Adding City Info for Vizualization
sources['lead_city'] =  np.where(sources['lead_city'].isnull(), sources['contact_city'], sources['lead_city'])
sources['lead_city'] =  np.where(sources['lead_city'].isnull(), "Unknown", sources['lead_city'])

In [41]:
sources.to_csv("TempALL.csv", index=False)

In [49]:
sources.groupby("Term_Group").lead_country.value_counts(dropna=False)

Term_Group  lead_country
Fall 2021   India                                    7606
            China                                    6269
            Unknown                                  6191
            Saudi Arabia                             2575
            Pakistan                                 2221
            United Arab Emirates                     2017
            Canada                                   1919
            Egypt                                    1257
            Lebanon                                  1127
            Mexico                                    936
            Kazakhstan                                687
            South Korea                               670
            Japan                                     516
            Qatar                                     515
            Vietnam                                   417
            Brazil                                    398
            Bangladesh                                390
            Taiwan                                    372
            Nigeria                                   315
            Jordan                                    262
            Nepal                                     261
            Kuwait                                    249
            Ghana                                     184
            Malaysia                                  181
            Azerbaijan                                170
            Ethiopia                                  169
            Indonesia                                 165
            Turkey                                    162
            Uzbekistan                                155
            Oman                                      154
            Kenya                                     152
            Singapore                                 152
            United Kingdom                            131
            Thailand                                  128
            Hong Kong                                 123
            Georgia                                   121
            Germany                                   121
            Bahrain                                   112
            Colombia                                  110
            Russia                                     98
            Peru                                       87
            Palestinian Territory, Occupie             84
            France                                     81
            Ecuador                                    80
            Spain                                      80
            Philippines                                79
            South Africa                               71
            Armenia                                    62
            Sri Lanka                                  62
            Italy                                      61
            New Zealand                                60
            Iraq                                       58
            Zimbabwe                                   56
            Iran                                       49
            Panama                                     49
            Mongolia                                   46
            Morocco                                    46
            Afghanistan                                44
            Kyrgyzstan                                 43
            Norway                                     42
            Chile                                      41
            Rwanda                                     39
            Uganda                                     39
            Australia                                  38
            Burma                                      38
            Honduras                                   38
            Sweden                                     38
            Jamaica                                    36
            Syria                                      36
            Ukraine                                    35
            Argentina                                  34
            Costa Rica                                 33
            Netherlands                                33
            Guatemala                                  30
            Switzerland                                30
            Nicaragua                                  28
            Dominican Republic                         27
            Greece                                     27
            Bahamas, The                               26
            El Salvador                                26
            Poland                                     26
            Israel                                     25
            Zambia                                     23
            Liberia                                    21
            Bolivia                                    20
            Cameroon                                   18
            Gabon                                      18
            Denmark                                    17
            Austria                                    16
            Hungary                                    15
            Serbia                                     15
            Tajikistan                                 15
            Botswana                                   14
            Gambia, The                                14
            Belgium                                    13
            Paraguay                                   13
            Tanzania                                   13
            Uruguay                                    13
            Ireland                                    12
            Sudan                                      12
            Trinidad and Tobago                        12
            Tunisia                                    12
            Belize                                     11
            Czech Republic                             11
            Albania                                    10
            Macedonia                                  10
            Venezuela                                  10
            Bermuda                                     9
            Iceland                                     9
            Belarus                                     8
            Cayman Islands                              8
            Haiti                                       8
            Turkmenistan                                8
            Bulgaria                                    7
            Luxembourg                                  7
            Malawi                                      7
            Moldova                                     7
            Mozambique                                  7
            Portugal                                    7
            Sierra Leone                                7
            Benin                                       6
            Guyana                                      6
            Mali                                        6
            Cote D'Ivoire                               5
            Macau                                       5
            Namibia                                     5
            Niger                                       5
            Romania                                     5
            Senegal                                     5
            Yemen                                       5
            Algeria                                     4
            Barbados                                    4
            British Virgin Islands                      4
            Cambodia                                    4
            Chad                                        4
            Finland                                     4
            Lesotho                                     4
            Mauritius                                   4
            Slovakia                                    4
            Somalia                                     4
            The Kingdom of Eswatini                     4
            Burundi                                     3
            Congo, Democratic Republic of               3
            Croatia                                     3
            Cyprus                                      3
            Estonia                                     3
            Libya                                       3
            Lithuania                                   3
            Monaco                                      3
            Turks and Caicos Islands                    3
            Angola                                      2
            Brunei                                      2
            Comoros                                     2
            Guinea                                      2
            Madagascar                                  2
            Saint Lucia                                 2
            Seychelles                                  2
            Slovenia                                    2
            Tonga                                       2
            Aland Islands                               1
            Andorra                                     1
            Anguilla                                    1
            Bhutan                                      1
            Bosnia and Herzegovina                      1
            British Indian Ocean Territory              1
            Burkina Faso                                1
            Christmas Island                            1
            Congo                                       1
            Cuba                                        1
            Djibouti                                    1
            Dominica                                    1
            Grenada                                     1
            Guernsey                                    1
            Kosovo                                      1
            Latvia                                      1
            Maldives                                    1
            Malta                                       1
            North Korea                                 1
            Palau                                       1
            Reunion                                     1
            Saint Kitts and Nevis                       1
            Saint Vincent & the Grenadines              1
            Sao Tome and Principe                       1
            South Sudan                                 1
            United States Minor Outlying Islands        1
Fall 2022   India                                   19163
            China                                    9501
            Pakistan                                 4418
            Egypt                                    4239
            Unknown                                  3942
            United Arab Emirates                     3881
            Canada                                   3571
            Saudi Arabia                             2993
            Lebanon                                  1874
            Mexico                                   1593
            Kazakhstan                               1566
            Nepal                                    1429
            Bangladesh                               1186
            Qatar                                     817
            Vietnam                                   705
            Uzbekistan                                690
            Nigeria                                   669
            Azerbaijan                                652
            Kuwait                                    618
            Ghana                                     393
            Morocco                                   375
            Jordan                                    366
            Philippines                               364
            Brazil                                    349
            Algeria                                   339
            South Korea                               261
            Taiwan                                    260
            Oman                                      248
            Kyrgyzstan                                247
            Georgia                                   245
            Ethiopia                                  244
            Kenya                                     213
            Armenia                                   212
            Malaysia                                  196
            Bahrain                                   191
            Sri Lanka                                 169
            Peru                                      160
            Iraq                                      151
            Indonesia                                 147
            Tunisia                                   146
            Thailand                                  145
            Turkey                                    131
            Iran                                      120
            United Kingdom                            116
            Afghanistan                               108
            Japan                                     107
            Rwanda                                    103
            Ecuador                                    99
            Liberia                                    96
            Russia                                     94
            Colombia                                   92
            Singapore                                  87
            Palestinian Territory, Occupie             84
            New Zealand                                81
            Uganda                                     81
            Israel                                     80
            Italy                                      68
            Turkmenistan                               68
            Germany                                    66
            South Africa                               65
            Zimbabwe                                   63
            Cameroon                                   54
            Mongolia                                   45
            Tajikistan                                 45
            Argentina                                  43
            Costa Rica                                 43
            Australia                                  42
            Guatemala                                  42
            Jamaica                                    42
            Spain                                      42
            Ukraine                                    39
            France                                     36
            Burma                                      35
            Bahamas, The                               34
            Hong Kong                                  34
            Sierra Leone                               33
            Tanzania                                   33
            Bolivia                                    31
            Dominican Republic                         30
            Botswana                                   29
            Chile                                      29
            Panama                                     29
            Zambia                                     28
            Syria                                      25
            Netherlands                                24
            Trinidad and Tobago                        23
            Poland                                     22
            Honduras                                   21
            Somalia                                    21
            Switzerland                                18
            El Salvador                                17
            Gambia, The                                16
            Libya                                      16
            Norway                                     16
            Paraguay                                   15
            Greece                                     14
            Sweden                                     13
            Uruguay                                    13
            Yemen                                      13
            Congo, Democratic Republic of              12
            Haiti                                      12
            Malawi                                     12
            Venezuela                                  12
            Burundi                                    11
            Cote D'Ivoire                              11
            Nicaragua                                  11
            Belgium                                    10
            Cyprus                                     10
            Portugal                                   10
            Belize                                      9
            Hungary                                     9
            Mali                                        9
            Mauritius                                   9
            Senegal                                     9
            Togo                                        9
            Cayman Islands                              8
            Chad                                        8
            Mozambique                                  8
            The Kingdom of Eswatini                     8
            Angola                                      7
            Bulgaria                                    7
            Denmark                                     7
            Gabon                                       7
            Albania                                     6
            Austria                                     6
            Bhutan                                      6
            Cambodia                                    6
            Madagascar                                  6
            Namibia                                     6
            Sudan                                       6
            Aland Islands                               5
            Barbados                                    5
            Czech Republic                              5
            Latvia                                      5
            Macau                                       5
            Moldova                                     5
            Belarus                                     4
            Brunei                                      4
            Burkina Faso                                4
            Dominica                                    4
            Finland                                     4
            Lesotho                                     4
            Romania                                     4
            Saint Lucia                                 4
            Benin                                       3
            Bermuda                                     3
            Croatia                                     3
            Estonia                                     3
            Guyana                                      3
            Palau                                       3
            Papua New Guinea                            3
            Bosnia and Herzegovina                      2
            British Virgin Islands                      2
            Cuba                                        2
            Equatorial Guinea                           2
            Grenada                                     2
            Guinea                                      2
            Kosovo                                      2
            Luxembourg                                  2

In [97]:
sources[sources['Term_Group'] == "Fall 2022"].lead_city.value_counts()

lead_city
Unknown         6750
New Delhi       2285
Cairo           1951
Beijing         1908
Dubai           1635
                ...
Nandini Town       1
Lille              1
SAS Nagar          1
Uccle              1
Tlaquepaque        1
Name: count, Length: 7395, dtype: int64

In [13]:
sources.columns.values[26:30]

array(['source_type', 'source', 'source_group', 'source_stage'],
      dtype=object)

In [14]:
# Renaming merged columns
sources.columns.values[26:30] = ['source_type_FOS', 'source_FOS', 'source_group_FOS', 'source_stage_FOS']
sources.columns

Index(['Term_Group', 'unique_id', 'lead_id', 'inquiry_id', 'inquiry_opp_id',
       'app_id', 'lead_createddate', 'contact_createddate', 'lead_city',
       'lead_country', 'lead_intlstudent', 'lead_ethnicity', 'lead_gender',
       'contact_city', 'inquiry_home_country', 'inquiry_mailing_country',
       'inquiry_ethnicity', 'inquiry_gender', 'inquiry_langspokenathome',
       'inquiry_opp_type', 'lead_createddate_FLS', 'source_type_FLS',
       'source_FLS', 'source_group_FLS', 'source_stage_FLS',
       'othersource_created_dt', 'source_type_FOS', 'source_FOS',
       'source_group_FOS', 'source_stage_FOS'],
      dtype='object')

In [21]:
sources.rename(columns={'source_type': 'source_type_FES','source':'source_FES', 'source_group': 'source_group_FES'},inplace=True)
#sources.columns.values[35:38] = ['source_type_FES', 'source_FES', 'source_group_FES']
#sources.describe()

In [26]:
df6.shape

(17298, 78)

In [30]:
#df.inquiry_opp_type.value_counts(dropna=False)